html, body {
height: 100%;
}

body {
    padding-left: 50px;
    padding-right: 50px;
}

#comments {
    padding-bottom: 50px;
}

aside, header, footer, .post {
    moz-border-radius: 10px;
    background: #a9bfd0;
}

header {
    color: white;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

aside {
    float: right;
    width: 150px;
    min-height: 80%;
    margin-top: -10px;
    padding: 10px;
}

#logo {
    color: white;
    text-align: center;
}

#admin-login {
    style: inline;
    text-align: left;
    color: red;
    font-size: 15px;
    padding-left: 10px;
    margin-top: -15px;
}

#admin-login a {
    text-decoration: underline;
    color: red;
}

#admin-login a:hover {
    background: black;
}

.content {
    margin-right: 200px;
}

.content a:hover {
    text-decoration: none;
    background: #a9bfd0;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.post {
    background: #a9bfd0;
    padding: 10px;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #999999;
    margin-bottom: 5px;
}

.post-title {
    text-decoration: none;
    color: #006699;
}

.post-title a:hover {
    text-decoration: none;
    color: #006699;
}

.post-links {
    margin-top: 5px;
    margin-bottom: 20px;
}

.post-links #admin-links{
    float: right;
    padding: 2px;
    color: red;
}

#new_post {
    float: right;
    padding: 2px;
    color: red;
    margin-top: -12px;

}

#devise-signin-form {
    text-align: center;
}

#devise-signin-form #admin_email {
    margin-left: 25px;          /*quick hack*/
}