html, body {
height: 100%;
}

body {
    padding-left: 50px;
    padding-right: 50px;
}

#comments {
    padding-bottom: 50px;
}

footer, .post {
    moz-border-radius: 10px;
}

header {
    color: #00ccff;
    width: 100%;
}

header a {
    text-decoration: none;
    color: #00ccff;
}

aside {
    float: right;
    width: 150px;
    min-height: 80%;
    margin-top: -10px;
    padding: 10px;
    background: #ffffd5;
}

#logo {
    color: #006699;
    font-size: 25px;
    float: left;
    border-bottom: 2px dashed;
}

#admin-login {
    float: left;
    color: red;
    font-size: 15px;
    margin-bottom: -15px;
    padding: 5px;
    background: #ffffcc;
}

#admin-login a {
    text-decoration: underline;
    color: red;
}


.content {
    margin-right: 200px;
    padding-bottom: 30px;
}

.content a {
    color: #006699;
    text-decoration: none;
}

.content a:hover {
    text-decoration: none;
}

.tag {
    background: #ffffcc;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #006699;
    text-align: center;
    background: #ffffcc;
}

.post {
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    moz-border-radius: 10px;
}

.post .updated {
    float: right;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #006699;
}

.post-title {
    text-decoration: none;
    color: #006699;
}

.post-title a:hover {
    text-decoration: none;
    color: #006699;
}

.post-links {
    margin-top: 5px;
    margin-bottom: 20px;
    background: #ffffd5;
    padding: 5px;
}

.post-links .admin-links{
    float: right;
    padding: 2px;
    color: red;
}

#devise-signin-form {
    text-align: center;
}

#devise-signin-form #admin_email {
    margin-left: 25px;          /*quick hack*/
}

.yashare-auto-init {
    float: right;
}

#user_comments .comment {
    background: #ffffcc;
    padding: 5px;
    margin-top: 10px;
    width: 70%;
}

.post-body {
    width: 75%;
}

.comment_date {
    float: right;
}

#edit_form {
    float: left;
    width: 75%;
}