html, body {
height: 100%;
}

aside, header, footer {
    moz-border-radius: 10px;
    border-radius: 10px;
    background: black;
}

header {
    color: white;
    width: 100%;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

aside {
    float: right;
    color: white;
    width: 150px;
    min-height: 80%;
    margin-top: 0px;
    padding: 10px;
    text-align: center;
}

.content {
    margin-right: 160px;
}

.content a:hover {
    text-decoration: none;
    background: grey;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}