<div class="content">
Постов в блоге: <%= @posts_count %>
<% if admin_signed_in? %>
    <div class="admin-links">
        <%= link_to "Создать новый пост", new_post_path, :id => 'new_post' %>
    </div>
<% end %>
<br>
<%= render 'layouts/posts' %>
</div>
